/* the overlayed element */
#voverlay {
	
	/* growing background image */
	background-image:url(../js/white.png);
	
	/* dimensions after the growing animation finishes  */
	width:640px;
	height:480px;
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:35px;
	z-index:99999999 !important;
}

/* default close button positioned on upper right corner */
#voverlay .close {
	background-image:url(../js/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

#voverlay .vcontainer{
	left:0;
	top:0;
	width:100%;
	height:100%;	
	background:url(../js/loading.gif) no-repeat 50% 50%;
}

#voverlay .vcontainer > div{
	height:100%;
	display:none;
}