/*
    Mobile Menu Core Style
*/
a{outline:none !important;}
.slicknav_btn { position: relative; display: block; vertical-align: middle; display:table; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: right; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; /*-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);*/ }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block; text-align:center; width:100%; margin:0 auto; border-bottom:1px solid #666;}
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; display:none; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }
.slicknav_nav li ul li{border-bottom:none; border-top:1px solid #D4BED2;}
.slicknav_nav li.slicknav_open{border-bottom:none;}
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 60% 10px no-repeat; }
.slicknav_nav li:hover{color:#222;}
.slicknav_nav li.slicknav_parent:hover .slicknav_row a{color:#222;}


/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
	width:80px;
	margin: 5px 5px 6px;
    text-decoration:none;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    /*background-color:rgba(0, 0, 0, 0.62);;*/
	margin:0 auto;

}
::i-block-chrome,.slicknav_btn{width:100px;}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #000;
    font-weight: bold;
    /*text-shadow: 0 1px 3px #000;*/
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #000;
}
.slicknav_menu {
    /*background:#4c4c4c;*/
	background:none;
    padding:10px 5px 5px;
}
.slicknav_nav {
	width:100%;
    color:#fff;
    margin:0 auto;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 0;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#bababa;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
/*.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#222;
}*/

.slicknav_nav .slicknav_row:hover {
    color:#fff;
}
.slicknav_nav a:hover{
    color:#222;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}



.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #Mobmenu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
		margin:0 auto;
	}
}

@media screen and (max-width: 568px) {
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 61% 10px no-repeat; }
}

@media screen and (max-width: 480px) {
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 62% 10px no-repeat; }
}

@media screen and (max-width: 420px) {
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 65% 10px no-repeat; }
}

@media screen and (max-width: 380px) {
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 66% 10px no-repeat; }
}

@media screen and (max-width: 320px) {
.slicknav_nav li.slicknav_parent:hover{ background:url(../images/selected.jpg) 69% 10px no-repeat; }
}
