

@media (max-width: 1440px) {
#banner{margin-top:6%;}
#banner-animate{left:6%;}
.banner-animate{margin:0;}
/*.pro-leftBg{left:-7%;}*/

}
@media (max-width: 1366px) {
#banner{margin-top:7%;}
.banner-animate{margin:0;}
#banner-animate{left:3%;}

}
@media (max-width: 1360px) {
.banner-animate{margin:0;}

}
@media (max-width: 1349px) {
.banner-animate{margin:0;}


}

@media (max-width: 1280px) {
#banner-animate{left:0;}

}
@media (max-width: 1024px) {
.logo p{left:120px;}
.top{width:98%; padding:1%;}
.menu{width:85%;}
.menu ul{width:100%;}
.menu ul li{padding:0 0 0 2%;}
#amazingslider-1{height:412px !important;}
.amazingslider-space-0{width:100% !important; height:427px !important;}
.amazingslider-img-0 img{height:427px !important;}
.banner img{width:100% !important; height:412px !important;}
#banner-animate{width:99%; left:1%;}
#banner{margin-top:10%;}
.animate-box{height:413px;}
.clicked{width:24% !important;}
.vision{width:98%; padding:1%;}
.vision p{width:100%;}
.welcome{width:100%;}
.content-top{width:98%; padding:0 1%;}
.download{width:98%; padding:0 2% 0 0;}
.footer{width:98%; padding:0 1%;}
.footer ul li{padding:2% 0 2% 2.3%;}
.footer p{float:none; text-align:center; clear:both;}
.animate-box{width:24.6%;}
.profile{width:100%;}
.animate-box p strong{font-size:24px;}
.animate-box p span{font-size:17px;}
.animate-text p{font-size:13px;}
.scroll{height:51px;}
.product-thumb{width:27%;}
.product-thumb p{font-size:13px;}
.our-product{padding:0;}
.videos{width:35%;}


.getintouch{margin:0 0 0 2%;}
.profile{background: url(../images/profile-r-bg.png) 5% top no-repeat;}
.profile-text{width:79%; padding:0 1% 0 0;}
.centrifugal{width:79%; padding:0 1% 0 0;}
.heading h1{font-size:26px;}
/*.product-text{width:100%;}*/
.contact{margin-left:1%;}
.map-one{margin-right:1%;}
.contact table th{width:20%;}
.serve ul{width:95%;}

}

@media (max-width: 980px) {
.logo{width:11%;}
.logo a img{width:100%;}
.menu{width:89%;}
.menu ul li a{padding:0;}
.our-product{width:100%;}
.product-thumb p{font-size:12px;}
.brochure{width:44%;}
.address{margin:2% 0 0 3%;}
.footer ul li{padding:2% 0 2% 2%;}
.footer p{padding:0 0 2% 0;}


.pro-bro strong{font-size:13px;}
.pro-address h2{font-size:20px;}
.getintouch h1{font-size:24px;}


}

@media (max-width: 800px) {
.logo{width:12%;}
.logo p{left:105px;}
.menu{width:100%; clear:both; padding:2% 0 0;}
.menu ul li{padding:0 2.5%;}
.menu ul li a{font-size:13px;}
.vision strong{font-size:18px;}
.vision p{font-size:13px;}
.product-thumb{width:30%;}
#banner{margin-top:14%;}
.animate-box p strong{font-size:20px;}
#download{background: url(../images/d.jpg) -240% top no-repeat;}
.brochure{width:50%;}
.brochure p a{width:25%; height:auto; float:left;}
.brochure p a img{width:100%; height:auto;}
.brochure p strong{font-size:18px; line-height:84px;}
.videos{width:40%;}
.footer p{padding:2% 0;}
.footer ul{display:none;}
#topcontrol{width:4.5%; display:block; z-index:9999999;}
#topcontrol img{width:100%; height:auto;}

.profile{background: url(../images/profile-r-bg.png) 2% top no-repeat;}
.getintouch{margin:0 0 0 3%;}
.contact table th{width:25%;}

}

@media (max-width: 768px) {
.logo{width:15%;}
.logo p{left:120px; font-size:14px;}
.home{margin:5% 0 0 0;}
.menu ul{width:109%;}
.menu ul li a{font-size:12px;}
#banner{margin-top:17%;}
#amazingslider-1{height:304px !important;}
.amazingslider-space-0{width:100% !important; height:318px !important;}
.amazingslider-img-0 img{height:318px !important;}
.banner img{width:100% !important; height:304px !important;}
.animate-box{height:305px;}
#up{bottom:2px;}
.product-thumb{width:42%;}
.content-top{width:96%; padding:0 2%;}
.content-top h1{text-align:center;}

.vision{width:96%; padding:1% 2%;}

.wel-text{width:96%; padding:0 2%;}
.wel-text ul{margin:0 0 0 5%;}
.download{width:96%; padding:0 2%;}
.address{margin-left:0; width:64%;}
.compare table{font-size:12px;}
.map-one{width:45%;}
.product-text{width:100%;}
.product-text-right{width:100%; float:left;}
.manufacturing-text{width:100%;}
.manufacturing-text{width:100%; float:left;}
.serve{width:100%;}
.profile{min-height:640px;}
.casting-img{width:34%;}
.brochure{width:60%;}
.getintouch h1{font-size:20px;}
.pro-address p{font-size:14px;}
.address{clear:both;}

}

@media (max-width: 720px) {
.menu ul{width:100%;}
.menu ul li{padding:0 2.3%;}
.pro-address p{width:100%;}
.getintouch{width:27%;}
.heading h1{font-size:22px;}
.compare table{font-size:11px;}
.animate-box p strong{font-size:18px;}
.animate-box p span{font-size:16px;}
.getintouch{margin:0; width:100%;}
.getintouch h1{font-size:18px;}
.pro-address h2{font-size:18px;}
.pro-address p{font-size:13px;}

}

@media (max-width: 640px) {
.logo p{left:100px; font-size:12px;}
#header{padding-top:5px;}
.menu{display:none;}
.minu{display:block;}
.home{display:none;}
.slicknav_menu{padding-right:0 !important;}
.slicknav_btn{float:right; padding-right:0 !important;}
.slicknav_nav a{padding: 2px 10px !important;}
.slicknav_nav a{margin:0 !important;}
.top{padding:1%;}
.logo{width:14%; float:left; margin:0 auto;}
.animate-box p strong{font-size:16px;}
.animate-box p span{font-size:14px;}
.deskAnimate{display:none;}
.mobAnimate{display:block;}
#banner{margin-top:9%;}
#amazingslider-1{height:304px !important;}
.amazingslider-space-0{width:100% !important; height:318px !important;}
.amazingslider-img-0 img{height:318px !important;}
.banner img{width:100% !important; height:304px !important;}
.animate-box{height:305px;}
.wel-text{width:92%; padding:0 4%;}
.wel-text ul{width:96%; margin:0 0 0 4%;}
.brochure p strong{line-height:68px;}
.address{width:68%;}
.content-top{width:92%; padding:0 4%;}
.product-thumb{width:42%; margin:1%;}
.product-thumb img{margin:0 0 10%;}
/*.download{width:92%; padding:0 4%;}*/
/*.brochure{width:80%;*/
.our-product{padding:0 0 4%;}
#welcome{background:none;}
.vision{width:92%; padding:1% 4%;}
body{text-align:justify;}
.pro-address p{text-align:left;}
.client h2{text-align:left;}
.getintouch{width:96%; margin:0; padding:2%;}
.getintouch input.submit{margin:1% 0 0 2%;}
.heading{height:60px; background: url(../images/heading-bg2.png) left top no-repeat;}
.heading h1{font-size:30px; line-height:66px;}
.profile{background:none;}
.profile-text{width:92%; padding:0 4%;}
.download{position:relative;}
.pro-bro{width:70%;}
.getintouch input{width:44.2%;}
/*.pro-bro{position:absolute; left:31%; width:40% !important; line-height:52px;}*/
/*.pro-bro strong{float:none;}*/
/*.getintouch{width:45%; margin:11% 0 0 0;}*/
/*.pro-address{width:45%; margin:11% 0 0;}*/
.centrifugal{width:92%; padding:0 4%;}
.heading h1{font-size:19px;}
.client{width:100%;}
.client h2{width:100%;}
.client ul{width:95%; float:left; margin:0 0 0 5%;}
.mapdesk{display:none;}
.mapmob{display:block;}
.contact{width:92%; padding:0 4%; margin:0;}
.mapmob{width:60%; margin:2% 20%; float:left;}
.contact table th{width:15%;}
.map{width:88%;}
.profile{min-height:460px;}
.casting-img{width:42%;}
.centrifugal h1{text-align:left;}
.mobcont{margin-top:4%; border-top:1px solid gray;}
#deskMap{display:none;}
.overlay{display:block; cursor:pointer;}
.download-right{width:38%;}
.pro-address h2{padding:7% 0 5%;}

}

@media (max-width: 568px) {
.logo{width:15%; float:left;}
.brochure p a{width:20%;}
.brochure p strong{font-size:15px; line-height:50px;}
.address{width:80%;}
.animate-box p strong{font-size:14px;}
/*#banner{margin-top:22.5%;}*/
#banner{margin-top:10%;}
.animate-box p span{font-size:13px;}
.vision strong{font-size:16px;}
.vision p{font-size:12px;}
.product-thumb img{width:50%; height:auto;}
.product-thumb{width:47%;}
.amazingslider-space-0{width:100% !important; height:270px !important;}
.amazingslider-img-0 img{height:270px !important;}
.banner img{width:100% !important; height:270px !important;}
.animate-box{height:260px;}
#amazingslider-1{height:258px !important;}
.scroll{height:37px;}

.heading{height:50px;}
.heading h1{font-size:16px; line-height:50px;}
.pro-bro{width:85%;}
.pro-bro p a{width:28%;}

.compare table{font-size:10px;}
.centrifugal strong{padding:1% 3%;}
.centrifugal p > span{padding-left:2%;}
.download-left{width:55%;}
.download-right{width:42%;}
.pro-address h3{font-size:14px;}
.pro-address p{font-size:12px;}

}

@media (max-width: 480px) {
body{font-size:14px;}
.logo{width:17%;}
.slicknav_nav a{padding: 3px 10px !important;}
.wel-text p{font-size:14px;}
.wel-text h1{font-size:24px;}
.wel-text h2{font-size:18px;}
#banner{margin-top:11%;}
.content-top h1{font-size:24px;}
.brochure p strong{font-size:13px; line-height:42px;}
.address h4{font-size:15px;}
.address h5{font-size:14px;}
.address p{font-size:14px;}
#topcontrol{width:5.5%;}
.product-thumb p{font-size:10px;}
.animate-box p strong{font-size:13px;}
.animate-box p span{font-size:12px;}
.vision strong{font-size:14px;}
.vision p{font-size:11px;}

.heading{height:42px; width:65%;}
.heading h1{font-size:16px; line-height:44px;}

.pro-bro{width:55%; margin:0 auto; float:none;}
.pro-address{width:100%; margin:0;}
.pro-address h2{font-size:16px;}
.getintouch h1{font-size:20px;}
.compare{display:none;}
.manufacturingRange{display:none;}
.research{display:none;}
.contact table th{width:20%;}
.casting-img{width:43%;}
.design h1{font-size:16px;}
.logo p{left:90px; font-size:11px;}
.animate-box p strong{font-size:12px;}
.download-left{width:100%;}
.download-right{width:100%;}
.pro-address h2{padding:3% 0;}
.pro-address h3{font-size:15px;}
.pro-address p{font-size:13px;}
.getintouch textarea{height:40px;}

}

@media (max-width: 420px) {
.logo{width:19%;}
#banner{margin-top:13%;}
.amazingslider-space-0{width:100% !important; height:215px !important;}
.amazingslider-img-0 img{height:215px !important;}
#amazingslider-1{height:215px !important;}
#banner-animate{display:none;}
#banner img{margin:0 !important;}
.product-thumb{width:70%;}
.product-thumb p{font-size:12px;}
.brochure{width:58%;}
.address{width:90%;}


.pro-bro{width:65%;}

.heading h1{font-size:14px;}

}

@media (max-width: 380px) {
.logo{width:20%;}
.logo p{left:80px; font-size:10px;}
.slicknav_btn{width:75px !important;}
.slicknav_menu{padding-top:5px !important;}
.slicknav_menu .slicknav_icon{float:left !important;}
.deskDonw{display:none;}
.mobDonw{display:block;}
#banner{margin-top:13%;}
.amazingslider-space-0{width:100% !important; height:130px !important;}
.amazingslider-img-0 img{height:130px !important;}
#amazingslider-1{height:130px !important;}
.product-thumb{width:96%;}
.videos{width:96%; float:left; margin:4% 2%;}
.brochure{width:100%; float:left; padding:3% 0;}
.brochure p a{width:25%;}
.brochure p strong{line-height:55px;}
.brochure p{width:75%; display:table; margin:0 auto; padding-bottom:2%;}
.address p{width:100%; padding:0;}
.vision strong{font-size:13px;}
.vision p{font-size:10px;}
.address{width:100%; text-align:center;}
.address h4{padding-bottom:1%;}
.wel-text ul{width:94%; margin:0 0 0 6%;}


.heading{height:36px; width:85%}
.heading h1{font-size:16px; line-height:39px;}
.pro-bro{width:70%; padding:0 15%;}
.pro-bro p a{width:100% !important;}
.pro-bro p{width:22% !important; float:left;}
.pro-bro strong{float:left; clear:none;}
.pro-address h3{padding-bottom:0;}
.casting-img{width:92%;}
.centrifugal p span{padding-left:3%;}
.serve ul li{font-size:17px;}
.getintouch input{width:96%;margin:1% 0;}

}

@media (max-width: 320px) {
.logo{width:23%;}
#banner{margin-top:15%;}
.vision strong{font-size:11px;}
.vision p{font-size:8px;}
.wel-text h1{font-size:20px;}
.wel-text p{font-size:12px;}
.wel-text h2{font-size:14px;}
.content-top h1{font-size:20px;}
.product-thumb img{width:35%;}
.brochure p{width:80%;}
.brochure p strong{font-size:12px; line-height:48px;}
.address p{width:100%; font-size:13px;}
.address h4{font-size:14px;}
.address h5{font-size:13px;}

.heading h1{font-size:14px;}
.pro-bro{width:90%; padding:0 10%;}
.manufacturingRange{display:none;}

}
